<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
   box-sizing: border-box;
   scroll-behavior: smooth;
}


body{
   margin: 0;
}

.headtext{
   font-size: 60px;
   font-weight: 600;
   font-family: "Ubuntu";
   line-height: 23px;
   text-align: center;
   animation: slideIn 1s linear;
}

.headtext-2{
   font-size: 30px;
   font-weight: 600;
   font-family: "Ubuntu";
   line-height: 20px;
   text-align: left;
   animation: slideIn 1s linear;
}

.headtext-3{
   font-size: 20px;
   font-weight: 600;
   font-family: "Roboto";
   line-height: 24px;
   text-align: left;
   animation: slideIn 1s linear;
}

.paragraph{
   font-size: 18px;
   font-weight: 300;
   font-family: "Ubuntu";
   line-height: 24px;
   text-align: left;
   margin: 15px;
   animation: slideIn 1s linear;
}

.bg-margin{
   margin: 40px 20px;
}

.sm-margin{
   margin: 20px;
}

.margin-left{
   margin: 15px 0 15px 15px;
}

.align-left{
   text-align: left;
}

.align-right{
   text-align: right;
}

.dark-mode{
   background-color: #000;
   color: #fff;
}

.light-mode{
   background-color: #fff;
   color: #000;
}

.lists{
   margin: 0;
}

.lists li{
   margin: 30px 0;
   text-align: left;
   font-size: 18px;
   font-family: "Ubuntu";
}

header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100px;
   background-color: #3dad68;
}

header img{
   width: 100px;
   height: 100px;
   margin: 0;
   left: 0;
}

header h1{
   margin: 0 0 0 320px;
}


nav{
   height: 50px;
   display: flex;
   justify-content: flex-between;
   align-items: center;
   background-color: #000000;
}

.navlinks{
   text-decoration: none;
   color: #fff;
   padding: 16px 30px;
   font-size: 18px;
   transition: 0.5s ease;
   height: 50px;
   width: 120px;
}

.navlinks:hover{
   background-color: #fff;
   color: #000000;
}

.btn{
   background-color: #000;
   color: #fff;
   border: none;
   inset: none;
   height: 50px;
   width: 120px;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.5s ease;
}

.btn:hover{
   background-color: #fff;
   color: #000
}

.Effects{
   display: flex;
   flex-direction: column;
}

.Effects__effect-1{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.Effects__effect-1 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.Effects__effect-1__content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-top: 56px;
   margin-left: 20px;
}

.Effects__effect-2{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.Effects__effect-2 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.Effects__effect-2__content{
   display: flex;
   flex-direction: column;
   flex: 1;
}

.Effects__effect-3{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.Effects__effect-3 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.Effects__effect-3__content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-top: 56px;
   margin-left: 20px;
}

.footer{
   display: flex;
   flex: 1;
   justify-content: space-between;
   width: 100%;
   height: 360px;
   padding: 0 40px;
   background-color: #000;
   color: #fff;
}

.footer__contact-us{
   margin-left: 30px;
}

.footer__social-media__icon{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.footer__social-media i{
   font-size: 20px;
   cursor: pointer;
   margin: 10px;
   animation: slideIn 1s linear;
}

.footer__logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}

.footer__logo img{
   width: 100px;
   height: 80px;
   object-fit: contain;
   margin: 15px 15px 0 0;
}

@media screen and (max-width: 1200px){
   .headtext{
      	font-size: 50px;
      	line-height: 20px;	
   }

   header h1{
	margin-left: 120px;
   }
   
   .learn-more__links{
	padding: 16px 80px;
        text-align: center;
   }

   .Effects__effect-1{
        margin-bottom: 30px;
   }

   
   .Effects__effect-2{
        margin-bottom: 30px;
   }


   .Effects__effect-3{
        margin-bottom: 30px;
   }

   .paragraph{
      font-size: 24px;
      font-weight: 400;
      font-family: "Ubuntu";
      line-height: 36px;
      margin: 15px;
   }

 
   .headtext-2{
      font-size: 40px;
      font-weight: 600;
      font-family: "Ubuntu";
      line-height: 20px;
      text-align: left;
   }
}

@keyframes slideIn {
            from { transform: translateY(10px); opacity: 0; }
            to { transform: translateY(0); opacity: 1; }
        }

=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
   box-sizing: border-box;
   scroll-behavior: smooth;
}


body{
   margin: 0;
}

.headtext{
   font-size: 60px;
   font-weight: 600;
   font-family: "Ubuntu";
   line-height: 23px;
   text-align: center;
}

.headtext-2{
   font-size: 30px;
   font-weight: 600;
   font-family: "Ubuntu";
   line-height: 20px;
   text-align: left;
}

.headtext-3{
   font-size: 20px;
   font-weight: 600;
   font-family: "Roboto";
   line-height: 24px;
   text-align: left;
}

.paragraph{
   font-size: 18px;
   font-weight: 300;
   font-family: "Ubuntu";
   line-height: 24px;
   text-align: left;
   margin: 15px;
}

.bg-margin{
   margin: 40px 20px;
}

.sm-margin{
   margin: 20px;
}

.margin-left{
   margin: 15px 0 15px 15px;
}

.align-left{
   text-align: left;
}

.align-right{
   text-align: right;
}

.lists{
   margin: 0;
}

.lists li{
   margin: 30px 0;
   text-align: left;
   font-size: 18px;
   font-family: "Ubuntu";
}

header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100px;
   background-color: #3dad68;
}

header img{
   width: 100px;
   height: 100px;
   margin: 0;
   left: 0;
}

header h1{
   margin: 0 0 0 320px;
}


nav{
   height: 50px;
   display: flex;
   justify-content: flex-between;
   align-items: center;
   background-color: #000000;
}

.navlinks{
   text-decoration: none;
   color: #fff;
   padding: 16px 30px;
   font-size: 18px;
   transition: 0.5s ease;
}

.navlinks:hover{
   background-color: #fff;
   color: #000000;
}

.Effects{
   display: flex;
   flex-direction: column;
   background-color: #ebebeb;
}

.Effects__effect-1{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.Effects__effect-1 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.Effects__effect-1__content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-top: 56px;
   margin-left: 20px;
}

.Effects__effect-2{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.Effects__effect-2 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.Effects__effect-2__content{
   display: flex;
   flex-direction: column;
   flex: 1;
}

.Effects__effect-3{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.Effects__effect-3 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.Effects__effect-3__content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-top: 56px;
   margin-left: 20px;
}

.footer{
   display: flex;
   flex: 1;
   justify-content: space-between;
   width: 100%;
   height: 360px;
   padding: 0 40px;
   background-color: #000;
   color: #fff
}

.footer__contact-us{
   margin-left: 30px;
}

.footer__social-media__icon{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.footer__social-media i{
   font-size: 20px;
   cursor: pointer;
   margin: 10px;
}

.footer__logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}

.footer__logo img{
   width: 100px;
   height: 80px;
   object-fit: contain;
   margin: 15px 15px 0 0;
}

@media screen and (max-width: 1200px){
   .headtext{
      	font-size: 50px;
      	line-height: 20px;	
   }

   header h1{
	margin-left: 120px;
   }
   
   .learn-more__links{
	padding: 16px 80px;
        text-align: center;
   }

   .Effects__effect-1{
        margin-bottom: 30px;
   }

   
   .Effects__effect-2{
        margin-bottom: 30px;
   }


   .Effects__effect-3{
        margin-bottom: 30px;
   }

   .paragraph{
      font-size: 24px;
      font-weight: 400;
      font-family: "Ubuntu";
      line-height: 36px;
      margin: 15px;
   }

 
   .headtext-2{
      font-size: 40px;
      font-weight: 600;
      font-family: "Ubuntu";
      line-height: 20px;
      text-align: left;
   }
}
>>>>>>> 3aeac703d7806701ac633be09be41a5d63732aac
