@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
   box-sizing: border-box;
   scroll-behavior: smooth;
}


body{
   margin: 0;
}

.headtext{
   font-size: 60px;
   font-weight: 600;
   font-family: "Ubuntu";
   line-height: 23px;
   text-align: center;
}

.headtext-2{
   font-size: 30px;
   font-weight: 600;
   font-family: "Ubuntu";
   line-height: 20px;
   text-align: left;
}

.headtext-3{
   font-size: 20px;
   font-weight: 600;
   font-family: "Roboto";
   line-height: 18px;
   text-align: left;
}

.paragraph{
   font-size: 18px;
   font-weight: 300;
   font-family: "Ubuntu";
   line-height: 24px;
   text-align: left;
   margin: 15px;
}

.bg-margin{
   margin: 40px 20px;
}

.sm-margin{
   margin: 20px;
}

.no-margin-left{
   margin-left: 0;
}

.align-left{
   text-align: left;
}

.align-right{
   text-align: right;
}

.lists{
   margin: 0;
}

.lists li{
   margin: 30px 0;
   text-align: left;
   font-size: 18px;
   font-family: "Ubuntu";
}

header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100px;
   background-color: #3dad68;
}

header img{
   width: 100px;
   height: 100px;
   margin: 0;
   left: 0;
}

header h1{
   margin: 0 0 0 320px;
}


nav{
   height: 50px;
   display: flex;
   justify-content: flex-between;
   align-items: center;
   background-color: #000000;
}

.navlinks{
   text-decoration: none;
   color: #fff;
   padding: 16px 30px;
   font-size: 18px;
   transition: 0.5s ease;
}

.navlinks:hover{
   background-color: #fff;
   color: #000000;
}

.News{
   display: flex;
   flex-direction: column;
   background-color: #ebebeb;
}

.News__news-1{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.News__news-1 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.News__news-1__content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-top: 56px;
   margin-left: 20px;
}

.News__news-2{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.News__news-2 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.News__news-2__content{
   display: flex;
   flex-direction: column;
   flex: 1;
}

.News__news-3{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 12px 24px;
}

.News__news-3 img{
   width: 400px;
   height: 400px;
   object-fit: contain;
   margin: 0 12px;
}

.News__news-3__content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding-top: 56px;
   margin-left: 20px;
}

.footer{
   display: flex;
   flex: 1;
   justify-content: space-between;
   width: 100%;
   height: 200px;
   padding: 0 40px;
   background-color: #000;
   color: #fff
}

.footer__social-media__icon{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.footer__social-media i{
   font-size: 20px;
   cursor: pointer;
   margin: 10px;
}

.footer__logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.footer__logo img{
   width: 100px;
   height: 80px;
   object-fit: contain;
   margin-right: 15px;
}

@media screen and (max-width: 1200px){
   .headtext{
      	font-size: 50px;
      	line-height: 20px;	
   }

   header h1{
	margin-left: 120px;
   }
   
   .learn-more__links{
	padding: 16px 80px;
        text-align: center;
   }

   .News__news-1{
        margin-bottom: 30px;
   }

   
   .News__news-2{
        margin-bottom: 30px;
   }


   .News__news-3{
        margin-bottom: 30px;
   }
}
